.header__lang-link{
    position: relative;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    line-height: 28px;
    margin-right: 18px;
    transition:.2s;
}

.header__lang-link:last-child{
    margin-right: 0px;
}


.header__lang-link:hover{
    opacity: 0.8;
}


@media screen and (max-width: 425px){
    .header__lang-link{
        font-size: 18px;
        line-height: 20px;
    }
}