.two-columns__image-wrapper{
    flex-basis: 460px;
    margin-right: 4%;
}

@media screen and (max-width: 768px){
    .two-columns__image-wrapper{
        max-width: 100vw;
        position: relative;
        margin-left: -50vw;
        left: 50%;
        margin-right: 0;
        margin-bottom: 32px;
        flex-basis: auto;
    }
}