.footer__links{
    display: flex;
    flex-basis: 470px;
    justify-content: space-between;
}

@media screen and (max-width: 768px){
    .footer__links{
        flex-direction: column;
        flex-basis: 250px;
        margin-bottom: 48px;
    }
}