.lead__caption{
  margin: 0;
  margin-top: 8px;
  font-size: 10px;
  line-height: 14px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.15px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__caption {
      padding-left: 24px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .lead__caption {
      padding-left: 16px;
    }
  }