.place__website{
    margin: 0;
    font-size: 12px;
    color: #AAAAAA;
    margin-bottom: 12px;
    line-height: 12px;
    letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
    .place__website {
      padding-left: 16px;
    }
  }